body{
  box-sizing: border-box;
  padding: 0;
  background-color:"#FCFAFD";
  font-family: sans-serif;

}

:root{
  --purble-dark:#340762;
  --purble:#7E19A7;
  --purble-light:#E1CEE8;
  --title-color:#75348B;
  --font-color:#C0C0C0;
}